aside {
  margin: 0px;
  width: 30%;
  height: 100%;
  background-color: #727ff3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;

  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.chat-sidebar {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
}

/*Deixar o avatar redondo*/

aside::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

aside::-webkit-scrollbar-track {
  background: rgb(121, 100, 240); /* color of the tracking area */
}

aside::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(61, 64, 85, 0.171); /* creates padding around scroll thumb */
}

.list-chat-contact {
  margin-top: 5px;
}

.list-chat-contact li{
  margin-top: 5px;
  border: solid 1px #e6e6e6;
}

.search-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  width: 100%;
  height: 50px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
}

.search-contact  .search {
  display: flex;
  padding: 0px;
  margin:33% 5% 33% 25%;
  position: absolute;
  width: 2rem;
  top:0px;
  right: 0px;
  background-color: #ecedf3;
  border-radius: 80%;
}

.photo-perfil{
  display: flex;
  margin: 20px;
  align-items: flex-end;
  width: 4.5rem;
  background-size: cover;
  background-color: black;
  height: 3rem;
  border-radius: 50%;
}

.photo-perfil img{
  width: 4.5rem;
  height: 4.5rem;
  border: solid 1px white;
  border-radius: 50%;
}