aside {
  margin: 0px;
  width: 30%;
  height: 100%;
  background-color: #727ff3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;

  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

/*Deixar o avatar redondo*/

aside::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

aside::-webkit-scrollbar-track {
  background: rgb(121, 100, 240); /* color of the tracking area */
}

aside::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(61, 64, 85, 0.171); /* creates padding around scroll thumb */
}

.list-chat-contact { /*lista de contatos*/
  width: 100%;
  margin-top: 5px;
}

.list-chat-contact li{
  display: flex;
  width: 100%;
  height: 30%;
  margin-top: 5px;
  border: solid 1px #e6e6e6;
}

.photo-perfil-contact img{
  left: 0px;
  margin: 0px 0px 10px 10px;
  width: 100%;
  height: 100%;
  border: solid 1px white;
  border-radius: 50%;
}

.chat-contact{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-bottom: 5px;

}

.search-contact { /*Caixa procurar contatos e add contatos*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  width: 100%;
  height: 50px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
}
.chat-sidebar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-bottom: 5px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
}

.photo-perfil{ /*Perfil user*/
  display: flex;
  margin: 10px 10px 20px 5px;
  position: absolute;
  left: 0px;
  width:30%;
  background-size: cover;
  background-color: black;
  height: 4%;
}

.photo-perfil img{
  left: 0px;
  margin: 0px 0px 10px 10px;
  width: 100%;
  height: 100%;
  border: solid 1px white;
  border-radius: 50%;
}