.Form body {
  background-color:rgba(201, 196, 196, 0.658) ;
}


.Form {
  display: flex; 
  justify-content: center;  
  align-items: center;
  margin-top: 80px;
  height: 400px;
  width: 100%;
  background-color: rgba(236, 231, 231, 0.658);
}

.Form section {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   float: right;
   width:100%;
   height: 50%; 
   text-align: center;
}

input {
  margin: 10px 50px 10px 5px;
  display :flex;
  width: 100%;
  height: 30px;
  border-radius: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: solid;
}

button{
  display: flex;
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
  width: 50%;
  height: 30px;
  background-color: coral;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 80px 0 0 130px;
}


label {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

.inputs{
  display: block;
  position: relative;
  width: 50%;
  margin: 50px 10px;
  padding: 20px;
}


form .Title{
  position: absolute;
  top: 130px;
  font-size: 2.5rem;
  color: black;
  font-weight: bolder;
}

button:hover{
  background-color: rgb(247, 154, 120);
}

input:hover{
  background-color: rgb(235, 228, 219);
}