.Form {
  display: flex; 
  justify-content: center;  
  align-items: center;
  height: 400px;
  width: 100%;
  background: aquamarine;
}

.Form section {
   display: flex;
   width:80%;
   align-items: center;
   padding: 10px 10px; 
   justify-content: space-evenly; 
   background: blue;
}

.Form section input {
    display: flex;
    position: relative;
    justify-content: space-evenly; 
    margin: 10px;

}